* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375C;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* =================== Common =================== */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}


.btn {
    display: inline-block;
    min-width: 205px;
    line-height: 60px;
    border-radius: 999px;
    background: #2E80CE;

    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
}

.btn:hover {
    opacity: .9;
}

.section-heading {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section-desc {
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;

    margin-top: 18px;
}

.control__btn {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    border: 1px solid #575F66;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
}

.control__btn:hover {
    color: #FFF;
    background-color: #2E80CE;
}

/* =================== HEADER =================== */
.header {
    background: var(--header-bg);
    min-height: 100vh;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 30px;
}

.navbar__list {
    display: flex;
}

.header__action--login,
.navbar__link {
    padding: 8px 21px;
    color: #C9D2DA;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}


.navbar__link:hover,
.navbar__link--active {
    color: #FFF;
    /* font-weight: 400; */
    /* Dung text shadow thay the cho font-weight */
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFF;

    position: relative;
    top: -3px;
    right: 8px;
}

.header__action--signup {
    min-width: 144px;
    line-height: 44px;
    font-size: 1.6rem;

    margin-left: 7px;
}

/* =================== HERO =================== */
.hero {
    display: flex;
    align-items: center;

    padding-top: 76px;
}

.hero__content {
    width: 44%;
}

.hero__media {
    flex: 1;
}

.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;

    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}


.hero__cta {
    margin-top: 38px;

    display: flex;
    align-items: center;
    column-gap: 38px;
}

.hero__phone {
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    object-fit: cover;
    object-position: center;

    border-radius: 6px;
}

.hero__img--large {
    width: 330px;
    height: 540px;

    margin-right: -6px;
    z-index: 1;
}

.hero__img--small {
    width: 210px;
    height: 410px;
}

/* =================== Our Service =================== */
.service {
    padding: 170px 0;
    background-color: #FFF;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin: 0 auto;

    margin-top: 18px;
}

.service__row {
    margin-top: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service-item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 470px;
    border-radius: 10px;
    background: #FFF;

    padding: 21px;

    transition: all 0.3s ease 0.2s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #EFF6FD;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);

    margin-right: 19px;

    transition: all 0.3s ease 0.2s;
}

.service-item:hover .service-item__icon {
    color: #FFF;
    background-color: #2E80CE;

}

.service-item__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
}

.service-item__desc {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;

    margin-top: 8px;
}

.service__btn {
    margin-top: 55px;
}

/* =================== WORKS ======================= */
.works {
    padding: 100px 0;
    background: #F6FBFF;
}

.works__desc {
    margin-top: 18px;
    width: 468px;
}

.work__list {
    margin-top: 86px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    padding: 43px;

    border: 16px solid #EAF6FF;
    border-radius: 4px;
    background: #FFF;

    transition: all 0.3s ease-in;
}


.work-item:hover {
    border-color: #2E80CE;

    position: relative;
    bottom: 16px;
}

.work-item__heading {
    margin-top: 18px;
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.work-item__desc {
    margin-top: 28px;

    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;

    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.work-item:hover .work-item__more {
    color: #2E80CE;
    font-weight: 400;
    /* text-shadow: 1px 0 0 #2E80CE; */
}

/* ===================== About ========================== */
.about {
    padding: 170px 0 205px;
    background: #FFF;
}

.about-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__media {
    width: 53%;
}

.about-content {
    width: 47%;
}

.about__images {
    position: relative;
}

.about__image--large {
    width: 512px;
    height: 370px;
    object-fit: cover;

    border-radius: 6px;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);

    display: flex;
}

.about__image--small {
    width: 332px;
    height: 370px;
    object-fit: cover;

    border-radius: 6px;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);

    position: absolute;
    right: 0;
    top: 121px;
}

.about-content {
    margin-left: 130px;
}

.about-content__btn {
    margin-top: 38px;
}

/* ===================== Team ========================== */
.team {
    padding: 85px 0;
    background-color: #FFF;
}

.team-header {
    text-align: center;
    margin: 0 auto;
}

.team__btn {
    margin-top: 38px;
}

.team-list {
    margin-top: 70px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;

    align-items: stretch;
}

.team-item__img-bg {
    border-radius: 6px;
    background: #EAF6FF;
    padding-top: 28px;
    overflow: hidden;
}

.team-item__thumb {
    height: 290px;
    max-width: 100%;
    object-fit: cover;
    display: block;

    transition: all 0.3s ease;
}

.team-item:hover .team-item__thumb {
    transform: scale(1.1);
}

.team-item__name {
    color: #10375C;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.team-item__desc {
    color: #575F66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86;
}

.team__control {
    margin-top: 38px;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 18px;
}

/* ====================== Install ======================== */
.install {
    padding: 85px 0;

}

.install__inner {
    height: 427px;
    border-radius: 4px;
    background: #2E80CE;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;

    position: relative;
}


.install_img {
    width: 284px;
    height: 522px;
    object-fit: cover;

    position: absolute;
    bottom: 0;
}

.install__content {
    max-width: 586px;
}

.install__heading {
    max-width: 489px;
    color: #FFF;
}

.install__desc {
    color: #FFF;
}

.install-row {
    margin-top: 38px;

    display: flex;
    column-gap: 28px;
}

/* ======================= Blog ======================= */
.blog {
    padding: 85px 0;
}

.blog__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__content {
    width: 40%;
}

.blog__heading {
    max-width: 470px;
}

.blog__more {
    display: inline-block;
    margin-top: 28px;

    color: #10375C;
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.56;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.blog__control {
    margin-top: 28px;

    display: flex;
    column-gap: 18px;
}

.blog__list {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;

    margin-left: 130px;
}

.blog-item {
    max-width: 270px;
    overflow: hidden;

    border-radius: 12px;
    background: #FFF;
    border: 1px solid #E8EBEE;

}

.blog-item:hover {
    box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
    border-color: transparent;
}


.blog-item__thumb {
    object-fit: cover;
    border-radius: 12px 12px 0 0;

    transition: all 0.3s ease;
}

.blog-item:hover .blog-item__thumb {
    transform: scale(1.1);
}

.blog-item__body {
    padding: 22px;
}

.blog-item__heading {
    color: #10375C;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.63;
}

.blog-item__desc {
    margin-top: 10px;

    color: #575F66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
}

.blog-item__more {
    display: inline-block;
    margin-top: 12px;

    color: #2E80CE;
    font-size: 1.4rem;
}

.blog-item:hover .blog-item__more {
    color: #10375C;
}

/* ==================== Apointment ==================== */
.appointment {
    padding: 85px 0;
}

.appointment__inner {
    padding: 100px 0;
    background: #F6FBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 38px;
}

.appointment__heading::after {
    content: "";
    display: block;
    width: 136px;
    height: 2px;
    background: #2E80CE;

    margin: 18px auto 0;
}


.appointment__desc {
    width: 690px;
    text-align: center;
}